<a href="https://colab.research.google.com/github/mayconmota/desafiodataproc/blob/main/Desafio_Dataproc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Desafio Dataproc**

In [1]:
#Importando a biblioteca pandas
import pandas as pd

In [15]:
#Leitura dos arquivos, e atribuição à variável de armazenamento
df = pd.read_fwf('resultado_part-00000.txt')

In [17]:
#Armazendando as top 10 palavras mais citadas no livro, em um novo dataframe
df_top10 = df[:10]

In [18]:
#Exibindo as top 10 palavras mais citadas no livro
df_top10

  Quantitativo_das_palavras
0             ('the', 4066)
1             ('and', 2969)
2              ('of', 2746)
3               ('I', 2719)
4              ('to', 2144)
5              ('my', 1631)
6               ('a', 1394)
7                ('', 1186)
8              ('in', 1129)
9              ('was', 994)

In [21]:
#Exportando o trabalho final para um novo arquivo, neste caso "resultado.txt"
df_top10.to_csv("resultado.txt", index=False)